.App {
    text-align: center;
}

.navbar-brand {
    color: #277EE8;
    font-family: monospace;
}
.navbar-brand:hover {
    color: blue;
}

.nav-link {
    color: #277EE8;
    font-family: monospace;
}
.nav-link:hover {
    color: blue;
}

.form-check-label {
    margin-right: 40px;
}

.form-select {
    width: auto;
    margin-right: 10px;
    color: #277EE8;
}

.card {
    margin-top: 30px;
}

.card-img-top{
    border: 2px solid blue;
}

.card-body {
    border: 1px solid blue;
}